/* General Styles */
html,
body {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5052b2, #1b1f3a);
    color: #fff;
}

p {
    margin-bottom: 0;
}

#game-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 100px;
}

#game-grid {
    display: grid;
    grid-template-areas:
        "equipped-items boss-description-div  boss-area player-description-div item-stats"
        "player-stats boss-description-div boss-area player-description-div inventory"
        "player-stats spells spells spells inventory"
        "player-stats action-buttons action-buttons action-buttons inventory";
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 1400px;
}

#equipped-items {
    grid-area: equipped-items;
}

.main-grid-item {
    border: 1px solid #444;
    padding: 10px;
    background-color: rgba(40, 40, 50, 0.9);
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
    background-color: #444;
}

.equipment-grid div {
    background-color: #222;
    border: 1px solid #999;
    min-height: 30px;
    min-width: 30px;
}

/* Boss Actions */
#boss-description-div {
    grid-area: boss-description-div;
}

#player-description-div {
    grid-area: player-description-div;
}

/* Boss Area */
#boss-area {
    grid-area: boss-area;
    text-align: center;
}

/* Player Actions */
#player-description-div {
    grid-area: player-description-div;
    text-align: right;
}

/* Inventory */
#inventory {
    grid-area: inventory;
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    background-color: #444;
}

.inventory-grid div {
    background-color: #222;
    border: 1px solid #999;
    min-height: 30px;
    min-width: 30px;
}

/* Player Stats */
#player-stats {
    grid-area: player-stats;
}

/* Spell Section */
#spells {
    grid-area: spells;
    border: 1px solid #444;
    padding: 10px;
    background-color: rgba(40, 40, 50, 0.9);
}

.spell-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
}

.spell {
    font-size: 12px;
    background-color: rgba(40, 40, 50, 0.9);
    /* Placeholder color */
    height: 50px;
    /* Square shape */
    width: 50px;
    /* Square shape */
    border: 1px solid #444;
    margin: 2px;
}

.spell:nth-child(odd) {
    border: 3px solid red;
}

.spell:nth-child(even) {
    border: 3px solid blue;
}

/* Action Buttons */
#action-buttons {
    grid-area: action-buttons;
    text-align: center;
}

/* Buttons */
.button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3700b3;
}

/* Headings and Text */
h2,
h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

/* p {
    margin: 5px 0;
} */